--
-- PostgreSQL database dump
--

\restrict DJ1ksWjpMc2gL5mnHy2l0mNiv3N7GbRo3LkL0goHs8eH7bhin0C7LtpOP8mTL8z

-- Dumped from database version 15.18
-- Dumped by pg_dump version 15.18

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: access_status_type; Type: TYPE; Schema: public; Owner: dev
--

CREATE TYPE public.access_status_type AS ENUM (
    'active',
    'revoked'
);


ALTER TYPE public.access_status_type OWNER TO dev;

--
-- Name: department_type; Type: TYPE; Schema: public; Owner: dev
--

CREATE TYPE public.department_type AS ENUM (
    'Engineering',
    'Sales',
    'Marketing',
    'HR',
    'Finance',
    'Operations',
    'Design'
);


ALTER TYPE public.department_type OWNER TO dev;

--
-- Name: request_status_type; Type: TYPE; Schema: public; Owner: dev
--

CREATE TYPE public.request_status_type AS ENUM (
    'pending',
    'approved',
    'rejected'
);


ALTER TYPE public.request_status_type OWNER TO dev;

--
-- Name: tool_status_type; Type: TYPE; Schema: public; Owner: dev
--

CREATE TYPE public.tool_status_type AS ENUM (
    'active',
    'deprecated',
    'trial'
);


ALTER TYPE public.tool_status_type OWNER TO dev;

--
-- Name: user_role_type; Type: TYPE; Schema: public; Owner: dev
--

CREATE TYPE public.user_role_type AS ENUM (
    'employee',
    'manager',
    'admin'
);


ALTER TYPE public.user_role_type OWNER TO dev;

--
-- Name: user_status_type; Type: TYPE; Schema: public; Owner: dev
--

CREATE TYPE public.user_status_type AS ENUM (
    'active',
    'inactive'
);


ALTER TYPE public.user_status_type OWNER TO dev;

--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: dev
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO dev;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: access_requests; Type: TABLE; Schema: public; Owner: dev
--

CREATE TABLE public.access_requests (
    id integer NOT NULL,
    user_id integer NOT NULL,
    tool_id integer NOT NULL,
    business_justification text NOT NULL,
    status public.request_status_type DEFAULT 'pending'::public.request_status_type,
    requested_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    processed_at timestamp without time zone,
    processed_by integer,
    processing_notes text,
    CONSTRAINT chk_process_after_request CHECK (((processed_at IS NULL) OR (processed_at >= requested_at)))
);


ALTER TABLE public.access_requests OWNER TO dev;

--
-- Name: access_requests_id_seq; Type: SEQUENCE; Schema: public; Owner: dev
--

CREATE SEQUENCE public.access_requests_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.access_requests_id_seq OWNER TO dev;

--
-- Name: access_requests_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dev
--

ALTER SEQUENCE public.access_requests_id_seq OWNED BY public.access_requests.id;


--
-- Name: categories; Type: TABLE; Schema: public; Owner: dev
--

CREATE TABLE public.categories (
    id integer NOT NULL,
    name character varying(50) NOT NULL,
    description text,
    color_hex character varying(7) DEFAULT '#6366f1'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.categories OWNER TO dev;

--
-- Name: categories_id_seq; Type: SEQUENCE; Schema: public; Owner: dev
--

CREATE SEQUENCE public.categories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.categories_id_seq OWNER TO dev;

--
-- Name: categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dev
--

ALTER SEQUENCE public.categories_id_seq OWNED BY public.categories.id;


--
-- Name: cost_tracking; Type: TABLE; Schema: public; Owner: dev
--

CREATE TABLE public.cost_tracking (
    id integer NOT NULL,
    tool_id integer NOT NULL,
    month_year date NOT NULL,
    total_monthly_cost numeric(10,2) NOT NULL,
    active_users_count integer DEFAULT 0 NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT chk_positive_tracking CHECK (((total_monthly_cost >= (0)::numeric) AND (active_users_count >= 0)))
);


ALTER TABLE public.cost_tracking OWNER TO dev;

--
-- Name: cost_tracking_id_seq; Type: SEQUENCE; Schema: public; Owner: dev
--

CREATE SEQUENCE public.cost_tracking_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.cost_tracking_id_seq OWNER TO dev;

--
-- Name: cost_tracking_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dev
--

ALTER SEQUENCE public.cost_tracking_id_seq OWNED BY public.cost_tracking.id;


--
-- Name: tools; Type: TABLE; Schema: public; Owner: dev
--

CREATE TABLE public.tools (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    vendor character varying(100),
    website_url character varying(255),
    category_id integer NOT NULL,
    monthly_cost numeric(10,2) NOT NULL,
    active_users_count integer DEFAULT 0 NOT NULL,
    owner_department public.department_type NOT NULL,
    status public.tool_status_type DEFAULT 'active'::public.tool_status_type,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT chk_positive_cost CHECK ((monthly_cost >= (0)::numeric)),
    CONSTRAINT chk_positive_users CHECK ((active_users_count >= 0))
);


ALTER TABLE public.tools OWNER TO dev;

--
-- Name: tools_id_seq; Type: SEQUENCE; Schema: public; Owner: dev
--

CREATE SEQUENCE public.tools_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tools_id_seq OWNER TO dev;

--
-- Name: tools_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dev
--

ALTER SEQUENCE public.tools_id_seq OWNED BY public.tools.id;


--
-- Name: usage_logs; Type: TABLE; Schema: public; Owner: dev
--

CREATE TABLE public.usage_logs (
    id integer NOT NULL,
    user_id integer NOT NULL,
    tool_id integer NOT NULL,
    session_date date NOT NULL,
    usage_minutes integer DEFAULT 0,
    actions_count integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.usage_logs OWNER TO dev;

--
-- Name: usage_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: dev
--

CREATE SEQUENCE public.usage_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.usage_logs_id_seq OWNER TO dev;

--
-- Name: usage_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dev
--

ALTER SEQUENCE public.usage_logs_id_seq OWNED BY public.usage_logs.id;


--
-- Name: user_tool_access; Type: TABLE; Schema: public; Owner: dev
--

CREATE TABLE public.user_tool_access (
    id integer NOT NULL,
    user_id integer NOT NULL,
    tool_id integer NOT NULL,
    granted_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    granted_by integer NOT NULL,
    revoked_at timestamp without time zone,
    revoked_by integer,
    status public.access_status_type DEFAULT 'active'::public.access_status_type,
    CONSTRAINT chk_revoke_after_grant CHECK (((revoked_at IS NULL) OR (revoked_at >= granted_at)))
);


ALTER TABLE public.user_tool_access OWNER TO dev;

--
-- Name: user_tool_access_id_seq; Type: SEQUENCE; Schema: public; Owner: dev
--

CREATE SEQUENCE public.user_tool_access_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_tool_access_id_seq OWNER TO dev;

--
-- Name: user_tool_access_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dev
--

ALTER SEQUENCE public.user_tool_access_id_seq OWNED BY public.user_tool_access.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: dev
--

CREATE TABLE public.users (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(150) NOT NULL,
    department public.department_type NOT NULL,
    role public.user_role_type DEFAULT 'employee'::public.user_role_type,
    status public.user_status_type DEFAULT 'active'::public.user_status_type,
    hire_date date,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.users OWNER TO dev;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: dev
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO dev;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dev
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: access_requests id; Type: DEFAULT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.access_requests ALTER COLUMN id SET DEFAULT nextval('public.access_requests_id_seq'::regclass);


--
-- Name: categories id; Type: DEFAULT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.categories ALTER COLUMN id SET DEFAULT nextval('public.categories_id_seq'::regclass);


--
-- Name: cost_tracking id; Type: DEFAULT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.cost_tracking ALTER COLUMN id SET DEFAULT nextval('public.cost_tracking_id_seq'::regclass);


--
-- Name: tools id; Type: DEFAULT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.tools ALTER COLUMN id SET DEFAULT nextval('public.tools_id_seq'::regclass);


--
-- Name: usage_logs id; Type: DEFAULT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.usage_logs ALTER COLUMN id SET DEFAULT nextval('public.usage_logs_id_seq'::regclass);


--
-- Name: user_tool_access id; Type: DEFAULT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.user_tool_access ALTER COLUMN id SET DEFAULT nextval('public.user_tool_access_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: access_requests access_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.access_requests
    ADD CONSTRAINT access_requests_pkey PRIMARY KEY (id);


--
-- Name: categories categories_name_key; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_name_key UNIQUE (name);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: cost_tracking cost_tracking_pkey; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.cost_tracking
    ADD CONSTRAINT cost_tracking_pkey PRIMARY KEY (id);


--
-- Name: cost_tracking cost_tracking_tool_id_month_year_key; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.cost_tracking
    ADD CONSTRAINT cost_tracking_tool_id_month_year_key UNIQUE (tool_id, month_year);


--
-- Name: tools tools_pkey; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.tools
    ADD CONSTRAINT tools_pkey PRIMARY KEY (id);


--
-- Name: usage_logs usage_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.usage_logs
    ADD CONSTRAINT usage_logs_pkey PRIMARY KEY (id);


--
-- Name: user_tool_access user_tool_access_pkey; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.user_tool_access
    ADD CONSTRAINT user_tool_access_pkey PRIMARY KEY (id);


--
-- Name: user_tool_access user_tool_access_user_id_tool_id_status_key; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.user_tool_access
    ADD CONSTRAINT user_tool_access_user_id_tool_id_status_key UNIQUE (user_id, tool_id, status);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_access_granted_date; Type: INDEX; Schema: public; Owner: dev
--

CREATE INDEX idx_access_granted_date ON public.user_tool_access USING btree (granted_at);


--
-- Name: idx_access_status; Type: INDEX; Schema: public; Owner: dev
--

CREATE INDEX idx_access_status ON public.user_tool_access USING btree (status);


--
-- Name: idx_access_tool; Type: INDEX; Schema: public; Owner: dev
--

CREATE INDEX idx_access_tool ON public.user_tool_access USING btree (tool_id);


--
-- Name: idx_access_user; Type: INDEX; Schema: public; Owner: dev
--

CREATE INDEX idx_access_user ON public.user_tool_access USING btree (user_id);


--
-- Name: idx_cost_month_tool; Type: INDEX; Schema: public; Owner: dev
--

CREATE INDEX idx_cost_month_tool ON public.cost_tracking USING btree (month_year, tool_id);


--
-- Name: idx_requests_date; Type: INDEX; Schema: public; Owner: dev
--

CREATE INDEX idx_requests_date ON public.access_requests USING btree (requested_at);


--
-- Name: idx_requests_status; Type: INDEX; Schema: public; Owner: dev
--

CREATE INDEX idx_requests_status ON public.access_requests USING btree (status);


--
-- Name: idx_requests_user; Type: INDEX; Schema: public; Owner: dev
--

CREATE INDEX idx_requests_user ON public.access_requests USING btree (user_id);


--
-- Name: idx_tools_active_users; Type: INDEX; Schema: public; Owner: dev
--

CREATE INDEX idx_tools_active_users ON public.tools USING btree (active_users_count DESC);


--
-- Name: idx_tools_category; Type: INDEX; Schema: public; Owner: dev
--

CREATE INDEX idx_tools_category ON public.tools USING btree (category_id);


--
-- Name: idx_tools_cost_desc; Type: INDEX; Schema: public; Owner: dev
--

CREATE INDEX idx_tools_cost_desc ON public.tools USING btree (monthly_cost DESC);


--
-- Name: idx_tools_department; Type: INDEX; Schema: public; Owner: dev
--

CREATE INDEX idx_tools_department ON public.tools USING btree (owner_department);


--
-- Name: idx_tools_status; Type: INDEX; Schema: public; Owner: dev
--

CREATE INDEX idx_tools_status ON public.tools USING btree (status);


--
-- Name: idx_usage_date_tool; Type: INDEX; Schema: public; Owner: dev
--

CREATE INDEX idx_usage_date_tool ON public.usage_logs USING btree (session_date, tool_id);


--
-- Name: idx_usage_user_date; Type: INDEX; Schema: public; Owner: dev
--

CREATE INDEX idx_usage_user_date ON public.usage_logs USING btree (user_id, session_date);


--
-- Name: idx_users_department; Type: INDEX; Schema: public; Owner: dev
--

CREATE INDEX idx_users_department ON public.users USING btree (department);


--
-- Name: idx_users_status; Type: INDEX; Schema: public; Owner: dev
--

CREATE INDEX idx_users_status ON public.users USING btree (status);


--
-- Name: tools update_tools_updated_at; Type: TRIGGER; Schema: public; Owner: dev
--

CREATE TRIGGER update_tools_updated_at BEFORE UPDATE ON public.tools FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: users update_users_updated_at; Type: TRIGGER; Schema: public; Owner: dev
--

CREATE TRIGGER update_users_updated_at BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: access_requests access_requests_processed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.access_requests
    ADD CONSTRAINT access_requests_processed_by_fkey FOREIGN KEY (processed_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: access_requests access_requests_tool_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.access_requests
    ADD CONSTRAINT access_requests_tool_id_fkey FOREIGN KEY (tool_id) REFERENCES public.tools(id) ON DELETE CASCADE;


--
-- Name: access_requests access_requests_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.access_requests
    ADD CONSTRAINT access_requests_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: cost_tracking cost_tracking_tool_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.cost_tracking
    ADD CONSTRAINT cost_tracking_tool_id_fkey FOREIGN KEY (tool_id) REFERENCES public.tools(id) ON DELETE CASCADE;


--
-- Name: tools tools_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.tools
    ADD CONSTRAINT tools_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id) ON DELETE RESTRICT;


--
-- Name: usage_logs usage_logs_tool_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.usage_logs
    ADD CONSTRAINT usage_logs_tool_id_fkey FOREIGN KEY (tool_id) REFERENCES public.tools(id) ON DELETE CASCADE;


--
-- Name: usage_logs usage_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.usage_logs
    ADD CONSTRAINT usage_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_tool_access user_tool_access_granted_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.user_tool_access
    ADD CONSTRAINT user_tool_access_granted_by_fkey FOREIGN KEY (granted_by) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: user_tool_access user_tool_access_revoked_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.user_tool_access
    ADD CONSTRAINT user_tool_access_revoked_by_fkey FOREIGN KEY (revoked_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: user_tool_access user_tool_access_tool_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.user_tool_access
    ADD CONSTRAINT user_tool_access_tool_id_fkey FOREIGN KEY (tool_id) REFERENCES public.tools(id) ON DELETE CASCADE;


--
-- Name: user_tool_access user_tool_access_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.user_tool_access
    ADD CONSTRAINT user_tool_access_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict DJ1ksWjpMc2gL5mnHy2l0mNiv3N7GbRo3LkL0goHs8eH7bhin0C7LtpOP8mTL8z

